# **Space X  Falcon 9 First Stage Landing Prediction**

## SQL Exploratory Data Analysis (EDA)

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

## Objectives

*   Load the dataset into Db2 database
*   Explore & understand the database
*   Execute SQL queries to answer questions

In [6]:
# Required packages needed for this notebook
# !pip install sqlalchemy==1.3.9
# !pip install ibm_db_sa
# !pip install ipython-sql

### Connecting to the database

We will first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

We will use the following syntax to connect to the database where the dataset lives

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [2]:
%sql ibm_db_sa://jqg86037:3fCsLXPIjuJTkdhV@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb?security=SSL

### SQL Exploratory Data Analysis (EDA)

#### Names of the unique launch sites  in the space mission

In [3]:
%sql SELECT DISTINCT(LAUNCH_SITE) FROM SPACEXTBL

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

#### First 5 records where launch sites begin with the string 'CCA'

In [31]:
%sql SELECT * FROM SPACEXTBL WHERE LAUNCH_SITE LIKE '%CCA%' LIMIT 5

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

#### Total payload mass carried by boosters launched by NASA (CRS)

In [6]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE CUSTOMER = 'NASA (CRS)'

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(45596,)]

#### Average payload mass carried by booster version F9 v1.1

In [7]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE BOOSTER_VERSION = 'F9 v1.1'

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(2928,)]

#### Date when first successful ground pad landing outcome was acheived.

In [23]:
%sql SELECT MIN(DATE) FROM SPACEXTBL WHERE LANDING__OUTCOME = 'Success (ground pad)'

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(datetime.date(2015, 12, 22),)]

#### Names of the boosters which have the Landing Outcome 'Success (drone ship)' and have a payload mass greater than 4000 but less than 6000

In [25]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE LANDING__OUTCOME = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

#### The total number of successful and failure mission outcomes

In [34]:
%sql SELECT COUNT(MISSION_OUTCOME) FROM SPACEXTBL WHERE MISSION_OUTCOME LIKE '%Success%'

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(100,)]

In [35]:
%sql SELECT COUNT(MISSION_OUTCOME) FROM SPACEXTBL WHERE MISSION_OUTCOME LIKE '%Failure%'

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(1,)]

#### The names of the booster_versions which have carried the maximum payload mass

In [36]:
%sql SELECT PAYLOAD_MASS__KG_, BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ IN (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(15600, 'F9 B5 B1048.4'),
 (15600, 'F9 B5 B1049.4'),
 (15600, 'F9 B5 B1051.3'),
 (15600, 'F9 B5 B1056.4'),
 (15600, 'F9 B5 B1048.5'),
 (15600, 'F9 B5 B1051.4'),
 (15600, 'F9 B5 B1049.5'),
 (15600, 'F9 B5 B1060.2'),
 (15600, 'F9 B5 B1058.3'),
 (15600, 'F9 B5 B1051.6'),
 (15600, 'F9 B5 B1060.3'),
 (15600, 'F9 B5 B1049.7')]

#### The failed drone ship landing_outcomes, their booster versions, and launch site names for in year 2015

In [37]:
%sql SELECT * FROM SPACEXTBL WHERE YEAR(DATE) = 2015 AND LANDING__OUTCOME = 'Failure (drone ship)'

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(datetime.date(2015, 1, 10), datetime.time(9, 47), 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 (datetime.date(2015, 4, 14), datetime.time(20, 10), 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)')]

#### Ranked count of landing outcomes between the date 2010-06-04 and 2017-03-20

In [38]:
%sql SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) FROM SPACEXTBL WHERE DATE BETWEEN CAST('2010-06-04' AS datetime) AND CAST('2017-03-20' AS datetime) GROUP BY LANDING__OUTCOME ORDER BY COUNT(LANDING__OUTCOME) DESC

 * ibm_db_sa://jqg86037:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

## Authors
Mitchell Fargher

Credit: Lakshmi Holla, Rav Ahuja, and the IBM Data Science Professional Certificate